mixin navbar(type)
    nav(class="clearfix nav-#{type}")
        .container
            img#logo
            #links
                a(href="/") Home
                a(href="/blog.html") Blog
                a(href="/design.html") Design
                a(href="/code.html") Code
                a(href="/photos.html") Photos
                a(href="/music.html") Music
            #social
                a(href='https://twitter.com/haydenbleasel', target='_blank')
                    i.fa.fa-twitter
                a(href='https://instagram.com/hayden.bleasel', target='_blank')
                    i.fa.fa-instagram
                a(href='https://dribbble.com/haydenbleasel', target='_blank')
                    i.fa.fa-dribbble
                a(href='https://soundcloud.com/haydenbleasel', target='_blank')
                    i.fa.fa-soundcloud
                a(href='https://github.com/haydenbleasel', target='_blank')
                    i.fa.fa-github
                a(href='https://medium.com/@haydenbleasel', target='_blank')
                    i.fa.fa-medium
                a(href='https://angel.co/haydenbleasel', target='_blank')
                    i.fa.fa-angellist
                a(href='http://twitch.tv/haydenbleasel', target='_blank')
                    i.fa.fa-twitch
                a(href='https://steamcommunity.com/id/haydenbleasel', target='_blank')
                    i.fa.fa-steam

mixin header(title)
    header
        .container
            h1 #{title}
