nav {
    background: transparent;
    padding: 20px 0;
    z-index: 1;
    border-bottom: 1px solid transparent;
    transition: border-color 0.4s, background 0.4s;
    position: relative;
    p {
        float: left;
        font-size: 17px;
        margin: 0;
        font-family: @sans-serif;
        color: @grey;
        font-weight: bold;
        line-height: 40px;
    }
    #links {
        float: left;
        margin-left: 40px;
        a {
            margin-right: 15px;
        }
    }
    #social {
        float: right;
        a {
            margin-left: 15px;
        }
    }
    a {
        font-size: 14px;
        text-decoration: none;
        line-height: 40px;
        color: @light;
        display: inline-block;
        &:hover {
            color: @grey;
        }
    }
}

body {
    padding-top: 40px;
    &.affix {
        padding-top: 120px;
        nav {
            background: @white;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            border-color: @faint;
        }
    }
}

header {
    padding: 180px 0;
    margin-top: 0;
}

section > div {
    margin: 90px 0;
    position: relative;
}

input {
    background: @white;
    border: 1px solid @faint;
    border-radius: 3px;
    color: @dark;
    font-family: @serif;
    font-size: 14px;
    padding: 12px 18px;
    display: block;
    line-height: 19px;
    width: 100%;
    ::-webkit-input-placeholder {
        color: @light;
    }
    :-moz-placeholder {
        color: @light;
    }
    ::-moz-placeholder {
        color: @light;
    }
    :-ms-input-placeholder {
        color: @light;
    }
}

button, .button {
    background: @bare;
    border: 1px solid @faint;
    border-radius: 3px;
    font-weight: 500;
    font-family: @sans-serif;
    display: block;
}

.grey-wrapper {
    background: @bare;
    padding: 90px 0;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    &.large {
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.columns {
    &:extend(.clearfix all);
    .column {
        float: left;
        margin-right: 100px;
        max-width: 380px;
    }
}

.row {
    &:extend(.clearfix all);
    //margin-left: -10px;
    //margin-right: -10px;
}

.generate-columns(12);

.row [class*="column-"] {
    //margin-left: 10px;
    //margin-right: 10px;
    float: left;
}

.hidden {
    display: none;
}
