@black: #101110;
@dark: lighten(#000, 20%);
@grey: lighten(#000, 50%);
@light: lighten(#000, 80%);
@faint: lighten(#000, 90%);
@bare: lighten(#000, 98%);
@white: #ffffff;

@serif: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
@sans-serif: 'Helvetica Neue', 'Helvetica', 'Lato', sans-serif;
