#design {
    header {
        background-image: url('images/design.jpg');
    }
    #grid {
        column-count: 3;
        column-width: 30px;
        .shot {
            display: block;
            margin-bottom: 20px;
            border: 1px solid @faint;
            img {
                display: block;
            }
        }
    }
}
