#home {
    header {
        padding: 180px 0;
        margin-top: 0;
    }
    #photo {
        text-align: right;
        margin-top: -300px;
    }
    #published {
        font-family: @serif;
        font-size: 20px;
        color: @grey;
        letter-spacing: 5px;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;
        margin-top: 90px;
    }
    #email {
        font-family: @serif;
        font-size: 52px;
        color: @dark;
        line-height: 1.5;
        margin-top: 40px;
        display: block;
    }
}
