extends ../layout
include ../mixins

block header
    title Blog - Hayden Bleasel

block content
    +navbar('blog')
    section#blog
        +header('Articles from Medium')
        div.container

block footer
    script(src="scripts/blog.js")
