extends ../layout
include ../mixins

block header
    title Code - Hayden Bleasel

block content
    +navbar('code')
    section#code
        +header('Code from GitHub')
        div.container
            h2 I'm also a full-stack developer
            h3.column-8 In addition to working as a Product Designer, I’m also relatively fluent with full-stack development. I tend to build my own products from ground up.
            .columns
                .column
                    p More importantly, I’ve spent a few years writing open-source libraries and plugins on GitHub. Most of them are for front-end development automation.
                .column
                    p I like the idea of writing as little code as possible to get the same job done, so I built and maintain Catalyst. Check out my projects below for more details.
        table#repositories.container

block footer
    script(src="scripts/code.js")
