extends ../layout

block header
    title Code - Hayden Bleasel

block content
    section#code
        header.container
            h1 Open source developer tools
        div.container
            .row
                h2.col-md-7.col-sm-8.col-sm-8 I'm also a full-stack developer
                h3.col-sm-8 In addition to working as a Product Designer, I’m also relatively fluent with full-stack development. I tend to build my own products from ground up.
            .row
                .col-sm-6.col-md-5
                    p More importantly, I’ve spent a few years writing open-source libraries and plugins on GitHub. Most of them are for front-end development automation.
                .col-sm-6.col-md-5.col-md-offset-1
                    p I like the idea of writing as little code as possible to get the same job done, so I built and maintain Catalyst. Check out my projects below for more details.
        .container
            .row
                .col-sm-8
                    table#repositories
                        thead
                            tr
                                th Repository
                                th Stars
                                th Forks
                        tbody
                    table#gists
                        thead
                            tr
                                th Gists
                        tbody
                .col-sm-4
                    table#activity
                        thead
                            tr
                                th Activity
                        tbody

block footer
    script(src="scripts/code.js")
