extends ../layout
include ../mixins

block header
    title Design - Hayden Bleasel

block content
    +navbar('design')
    section#design
        +header('User interfaces and concepts')
        div.container
            h2 Design Methodology
            h3.column-8 I design user interfaces and products that are simple, feasible and problem-solving before thinking about making it pretty. Here's some of my work:
        #grid.container.large

block footer
    script(src="scripts/design.js")
