extends ../layout

block header
    title Music - Hayden Bleasel

block content
    section#music
        header.container
            h1 Mixtapes for most occasions
        #controls
            .container
                .row
                    .col-sm-1
                        img#cover
                    .col-sm-3
                        i.fa.fa-fast-backward#prev
                        i.fa.fa-play#play
                        i.fa.fa-pause.hidden#pause
                        i.fa.fa-fast-forward#next
                    .col-sm-8
                        progress#progress(value="0", max="100")
        .container#playlist

block footer
    script(src="scripts/music.js")
