extends ../layout
include ../mixins

block header
    title Music - Hayden Bleasel

block content
    +navbar('music')
    section#music
        +header('Mixtapes for most occasions')
        #controls
            .container
                .row
                    .column-1
                        img#cover
                    .column-3
                        i.fa.fa-fast-backward#prev
                        i.fa.fa-play#play
                        i.fa.fa-pause.hidden#pause
                        i.fa.fa-fast-forward#next
                    .column-8
                        progress#progress(value="0", max="100")
        .container#playlist

block footer
    script(src="scripts/music.js")
