extends ../layout

block header
    title Photos - Hayden Bleasel

block content
    section#photos
        header.container
            h1 Worth a few thousand words
        div.container
            .row
                h2.col-md-7.col-sm-8.col-sm-8 Okay, so here's the deal...
                h3.col-sm-8 I’ve decided to start a new adventure — trying to fill my Instagram Photo Map with beautiful snippets of places from all around the world.
            .row
                .col-sm-6.col-md-5
                    p I’ve taken a liking to photography as you can tell by my Instagram feed, but the thing that enticed me most about Instagram was the Photo Map.
                .col-sm-6.col-md-5.col-md-offset-1
                    p All the photos are taken by walking the streets, bridges and alleyways and finding locations that really call out to me. I hope you enjoy my journey.
        #photomap
        p.container And now for the full Instagram feed:
        #instagram.container.large

block footer
    script(src="scripts/photos.js")
