extends ../layout

block header
    title Signup - Hayden Bleasel

block content

block footer
    script(src="scripts/blog.js")

#mc_embed_signup
    form#mc-embedded-subscribe-form.validate(action='//haydenbleasel.us11.list-manage.com/subscribe/post?u=baa2d54a12a4ade9f607a474e&id=6f476ad712', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll
            .mc-field-group
                label(for='mce-EMAIL') Email Address 
                input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
            #mce-responses.clear
                #mce-error-response.response(style='display:none')
                #mce-success-response.response(style='display:none')
            div(style='position: absolute; left: -5000px;')
            input(type='text', name='b_baa2d54a12a4ade9f607a474e_6f476ad712', tabindex='-1', value='')
            .clear
                input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
