extends ../layout
include ../mixins

block header
    title Almost done! - Hayden Bleasel

block content
    +navbar('home')
    header.container#signup
        h1 Almost done.
        p I need to confirm your email to make sure you’re a human. Please click the link in the email I sent you.
        small — Hayden Bleasel
